.icons {
  height: 10vh;
  width: 5vw;
  padding: 10px;
}
.app-list {
  list-style-type: none;
}
.app-icon {
  margin: 10px;
  background-color: white;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  list-style-type: none;
}
